@media only screen and (max-width: 950px){
    .blog-info-right-cont{
        width: 30%;
        padding: 15px;
    }

    .bold-shade-title{
        font-size: 20px;
    }
}

@media only screen and (max-width: 600px){
    .blog-hash-content{
        font-size: 15px;
    }

    .blog-heading-content{
        font-size: 26px;
    }

    .blog-author-and-date-cont{
        font-size: 15px;
    }

    .blog-info-part-heading{
        font-size: 20px;
        line-height: 43px;
    }

    .blog-info-para-part{
        font-size: 15px;
        line-height: 25px;
    }

    .light-shade-title{
        font-size: 10px;
    }

    .bold-shade-title{
        font-size: 16px;
    }

    .check-now-btn{
        height: 34px;
        font-size: 12px;
    }
}

@media only screen and (max-width: 500px){
    .blog-info-left-cont{
        width: 100%;
    }

    .blog-info-right-cont{
        width: 100%;
        height: 20%;
    }

    .light-shade-title{
        font-size: 12px;
    }

    .bold-shade-title{
        font-size: 20px;
    }
}