
.container{
 
    width:80%;
    margin-top: 6%;
    margin-left: 7%;
}
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
}
.container p{
    font-size:20px;
    color: #667085;


}
.container1{
    width:80%;
    margin-top: 3%;
    margin-left: 7%

}

.container1 h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;

}
.container1 p{
    font-size:20px;
    color: #667085;
}
.main-container-box{

   
    width: 100%;
    padding: 20px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
}
.box-main-cont{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.box-cont{
    width: 23%;
    height: 300px;
    padding: 20px;
    display: flex;
    border: 1px solid  #2552EA;
    border-radius: 12px ;
    flex-direction: column;
    justify-content: space-between;

}
.box-cont:hover{
    background-color:#2552EA ;
    color: white;
}
    

/* .select{
    background-color:#1D4ED8 ;
    color: white;
    border: none;
} */
.box-para p{
    color: white;
}
.box-Heading{
    font-size: 18px;
    font-weight: 500;
}
.box-para{
    color: #666666;
    font-size: 14px;
    font-weight:400 ;
    

}
/* .Box1{
    height: Fixed (298.43px)px;
    width: Fixed (294.77px)px;
    justify-content: space-between;
    
    border: 2px solid black;
   
padding: 23.78px 0px 0px 0px;
gap: 7.93px;
border-radius: 7.33px 0px 0px 0px;
border: 0.73px 0px 0px 0px;
opacity: 0px;

}

.Box1 h1 {
    font-size: medium;
}
.Box2{
    width: Fill (247.21px)px;
height: Hug (217.61px)px;
border:  2px solid black;
gap: 20.61px;
opacity: 0px;


}
.inner-cont{
    height: 10%;
    width: 155;
    border: 2px solid black;
} */



