.main-container{
    
    width: 90%;
    margin-top: 10px;
    margin-left:7%;
    display: flex;
}
.box1-cont{
    height: 30%;
    width: 50%;
    margin-left: 10px;
    
}

.box1-cont h1{
    font-size:45px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.box1-cont p{
font-size: 20px;

}


.main-row-cont{
    
    width: 100%;
    display: flex;
    justify-content: space-between;
   
}

.col-cont{
    width: 30%;
    margin-left: 2%;
    
}
.col-cont1{
    justify-content: center;
    text-align: center;
    align-items: center;
}
.head{
    justify-content: center;
    text-align: center;
    align-items: center;
}

.box2-cont {
    height: 40%;
    width: 40%; 
     margin-left:10% ;
   img{
    height:50%;
    width: 90%;
    border-radius: 15px;
   
   }
} 



